<h2 class="p-2 mt-5 pt-3" id="mobile-items">Cart Products</h2>
    <div class="container-fluid mt-3">
        <div class="row">
            {{#each cartproducts}}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="card text-center mb-4">
                    <div class="d-flex flex-wrap align-items-center justify-content-center">
                        <div class="col-6 col-sm-12">
                            <img src="{{this.image}}" class="card-img-top" alt="..." style="height: 150px; width: 150px">
                        </div>
                        <div class="col-6 col-sm-12">
                            <div class="card-body">
                                <h5 class="card-title">{{this.title_name}}</h5>
                                <h3 class="card-title"><sup><span class="fs-6 text-secondary">₹</span></sup>{{this.price}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{this.description}}</p>
                        <form action="/users/buyitem" method="post">
                            <button type="submit" name="buyno" value="{{this.no}}" class="btn btn-warning m-2" style="width: 80%;">Buy Now</button>
                        </form>
                        <form action="/users/removecartitem" method="post">
                            <button type="submit" name="removeno" value="{{this.no}}" class="btn btn-danger mt-2" style="width: 80%;">Remove from Cart</button>
                        </form>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>